[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev:vite"
  targetPort = 5173

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

[functions]
  directory = "netlify/functions"
